In [4]:
# set is enclosed inside curly brackets
# it is not a seq
# indexing and slicing not possible
# immutable
# UNORDERED DATATYPE
# it is a collection of unqiue elements

a = {1,2,3,4,5,6,700,800}
print(a)  #order doesn't matter

{800, 1, 2, 3, 4, 5, 6, 700}

In [5]:
a[0]

TypeError: 'set' object is not subscriptable

In [6]:
a = {1,1,1,1,1,1,1,2,2,3,3,3,4,4,5,6,6,7,4,6,8,9,}
print(a)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [7]:
lst1 = [1,2,2,1,2,3,324,'32432','4234',324,234,324,23,'2','2',2,3,4,5,6,6,7,7,5]
set(lst1)

{1, 2, '2', 23, 234, 3, 324, '32432', 4, '4234', 5, 6, 7}

In [8]:
#conditional statament

'''
stat1
stat2
stat3
if cond:
    stat4
    stat5

if the condtion is true - 1 , 2 , 3 , 4 , 5
if the condtion is false - 1,2,3
'''

SyntaxError: invalid syntax (Temp/ipykernel_9756/966589035.py, line 10)

In [9]:
'''
stat1
stat2
stat3
if cond:
    stat4
    stat5
stat6
stat7
    
if the condtion is true - 1 , 2 , 3 , 4 , 5,6,7
if the condtion is false - 1,2,3 , 6 , 7
'''

'\nstat1\nstat2\nstat3\nif cond:\n    stat4\n    stat5\nstat6\nstat7\n    \nif the condtion is true - 1 , 2 , 3 , 4 , 5,6,7\nif the condtion is false - 1,2,3 , 6 , 7\n'

In [10]:
'''
stat1
stat2
stat3
if cond:
    stat4
    stat5
else:
    stat6
    stat7
stat8
stat9
    
if the condtion is true - 1,2,3,4,5,8,9
if the condtion is false - 1,2,3,6,7,8,9
'''

'\nstat1\nstat2\nstat3\nif cond:\n    stat4\n    stat5\nelse:\n    stat6\n    stat7\nstat8\nstat9\n    \nif the condtion is true - 1,2,3,4,5,8,9\nif the condtion is false - 1,2,3,6,7,8,9\n'

In [11]:
'''
stat1
stat2
stat3
if cond1:
    stat4
    stat5
if cond2:
    stat6
    stat7
if cond3:
    stat8
    stat9
else:
    stat10
    stat11
stat12
stat13
    
if the condtion1 is true - 1,2,3,4,5,10,11,12,13
if the condtion1 and cond2 is true ,  - 1,2,3,4,5,6,7,10,11,12,13

if the condtion1 is false and cond2 is true  ,cond3 is true- 1,2,3,6,7,8,9,12,1,3
'''

'\nstat1\nstat2\nstat3\nif cond1:\n    stat4\n    stat5\nif cond2:\n    stat6\n    stat7\nif cond3:\n    stat8\n    stat9\nelse:\n    stat10\n    stat11\nstat12\nstat13\n    \nif the condtion1 is true - 1,2,3,4,5,10,11,12,13\nif the condtion1 and cond2 is true ,  - 1,2,3,4,5,6,7,10,11,12,13\n\nif the condtion1 is false and cond2 is true  ,cond3 is true- 1,2,3,6,7,8,9,12,1,3\n'

In [12]:
'''
stat1
stat2
stat3
if cond1:
    stat4
    stat5
else:
    stat100
    stat200
if cond2:
    stat6
    stat7
    if cond_2_1:
        stat1000
    else:
        stat2000
if cond3:
    stat8
    stat9
else:
    stat10
    stat11
    
stat12
stat13

if the condtion1 is false and cond2 is true  ,cond3 is true , cond_2_1 is false- 1,2,3,100,200,6,7,2000,8,9,12,13 
'''

'\nstat1\nstat2\nstat3\nif cond1:\n    stat4\n    stat5\nelse:\n    stat100\n    stat200\nif cond2:\n    stat6\n    stat7\n    if cond_2_1:\n        stat1000\n    else:\n        stat2000\nif cond3:\n    stat8\n    stat9\nelse:\n    stat10\n    stat11\n    \nstat12\nstat13\n\nif the condtion1 is false and cond2 is true  ,cond3 is true , cond_2_1 is false- 1,2,3,100,200,6,7,2000,8,9,12,13 \n'

In [13]:
'''
if elif , else

stat1
stat2
stat3
if cond1:
    stat4
    stat5
elif cond2:
    stat6
    stat7
elif cond3:
    stat8
    stat9
else:
    stat10
    stat11
stat12
stat13

if cond1 is true and other condition are false - 1,2,3,4,5,12,13

if cond2 is true and other condition are false - 1,2,3,6,7,12,13

id all the conditions are false - 1,2,3,10,11,12,13
'''

'\nif elif , else\n\nstat1\nstat2\nstat3\nif cond1:\n    stat4\n    stat5\nelif cond2:\n    stat6\n    stat7\nelif cond3:\n    stat8\n    stat9\nelse:\n    stat10\n    stat11\nstat12\nstat13\n\nif cond1 is true and other condition are false - 1,2,3,4,5,12,13\n\nif cond2 is true and other condition are false - 1,2,3,6,7,12,13\n\nid all the conditions are false - 1,2,3,10,11,12,13\n'

In [14]:
a  =33
b  =333
if b > a:
    print('b is greater than a')

b is greater than a

In [15]:
a  =33
b  =333
if b > a:
    print('b is greater than a')

b is greater than a

In [18]:
a  =33
b  =33
if b > a:
    print('b is greater than a')
elif b==a :
    print('b == a')
elif b < a:
    print('b is less than a')

    
a  =33
b  =33
if b > a:
    print('b is greater than a')
if b==a :
    print('b == a')
if b < a:
    print('b is less than a')
    
a  =33
b  =333
if b > a:
    print('b is greater than a')
    if b==a :
        print('b == a')
    else :
        print('b is less than a')
    
    
a  =33
b  =333
if b > a:
    print('b is greater than a')
elif b==a :
    print('b == a')
else :
    print('b is less than a')

b == a
b == a
b is greater than a
b is less than a
b is greater than a

In [19]:
a  =33
b  =333
if b > a:
    print('b is greater than a')
    if b==a :
        print('b == a')
    else :
        print('b is less than a')

b is greater than a
b is less than a

In [20]:
# ANd

a = 200
b = 100
c = 700

if a>b and a>c:
    print('a is greater than both b and c')

In [21]:
# or
a = 200
b = 100
c = 700

if a>b or a>c:
    print('a is greater than both b and c')

a is greater than both b and c

In [22]:
True or False

True

In [23]:
# nested if  - if inside a if
x = 9
if x > 10:
#     print('statment1')
#     if x  > 30 :
#         print('stat2')
#     else:
#         print('stat3')
# else:
#     print('stmnt4')

IndentationError: expected an indented block (Temp/ipykernel_9756/2261955752.py, line 10)

In [24]:
# pass - if statment cannot be empty 

a = 33
b = 200

if b > a:
    pass
if a<b:
    print('statment_1')

statment_1

In [25]:
for i in range(5):
    pass

In [26]:
input_1={'name':["Biswajit","Subrajit","Guru"],"age":[24,25,26],"roll":[1,2,3],"occ":['job','job','buis']} 
#len(input.keys()) 
a=[] 
for i in range(0,len(input_1['occ'])): 
    if (input_1['occ'][i]=='job'): 
        a.append("Ok") 
    else: 
        a.append("Very Ok") 
print(a) 
input_1.update({"status":a})
print(input_1)

['Ok', 'Ok', 'Very Ok']
{'name': ['Biswajit', 'Subrajit', 'Guru'], 'age': [24, 25, 26], 'roll': [1, 2, 3], 'occ': ['job', 'job', 'buis'], 'status': ['Ok', 'Ok', 'Very Ok']}

In [27]:
input_1={'name':["Biswajit","Subrajit","Guru"],"age":[24,25,26],"roll":[1,2,3],"occ":['job','job','buis']} 
#len(input.keys()) 
for i in range(0,len(input_1['occ'])): 
    if (input_1['occ'][i]=='job'): 
        input_1['status'] = 'ohk' 
    else: 
        input_1['status'] = 'not ohk'
print(a) 
print(input_1)

['Ok', 'Ok', 'Very Ok']
{'name': ['Biswajit', 'Subrajit', 'Guru'], 'age': [24, 25, 26], 'roll': [1, 2, 3], 'occ': ['job', 'job', 'buis'], 'status': 'not ohk'}

In [28]:
{f'key{i}':i for i in [1,2,3,4]}

{'key1': 1, 'key2': 2, 'key3': 3, 'key4': 4}

In [30]:
# Q1. take an user input as a number 0-4 and print the number in the word format


# sol1
dict_1 = {'1':"one",'2':"Two",'3':"Three",'4':"Four"} 
str1 = input("Enter number") 
for key, value in dict_1.items(): 
    if str1 == key: 
        print(value)
    else: 
        print("Number doesn't exists")
        
# sol2
abc = input("enter number between 0-4: ") 
if abc == '0': 
    print('zero') 
if abc == '1': 
    print('one') 
if abc == '2': 
    print('two') 
if abc == '3': 
    print('three')
if abc == '4': 
    print('four')

Enter number6
Number doesn't exists
Number doesn't exists
Number doesn't exists
Number doesn't exists
enter number between 0-4: 3
three

In [31]:
dict_1 = {'1':"one",'2':"Two",'3':"Three",'4':"Four"} 
str1 = input("Enter number")
for key, value in dict_1.items(): 
    if str1 == key: 
        print(value)
    else: 
        print("Number doesn't exists")

Enter number7
Number doesn't exists
Number doesn't exists
Number doesn't exists
Number doesn't exists

In [32]:
user_input = input("enter number between 0-4: ") 
if user_input == '0': 
    print('zero') 
elif user_input == '1': 
    print('one') 
elif user_input == '2': 
    print('two') 
elif user_input == '3': 
    print('three')
elif user_input == '4': 
    print('four')
else:
    print('invalid output')

enter number between 0-4: 3
three

In [33]:
# check if an user input string is a palindrome or not

str = input('Enter a string: ') 
if str == str[::-1]: 
    print('palindrome') 
else:
    print('no palindrome')

Enter a string: 'Sradha'
no palindrome

In [34]:
#Q2 find a year entered by user is a leap year or not
- if year is div by 4 leap
- if year is div by 4 and year div by 100 and div by 400 -- leap year
- if year is not div by 4 - no leap

SyntaxError: invalid syntax (Temp/ipykernel_9756/897143201.py, line 2)

In [ ]:
#Q3 design a calculator wher etwo numbers will e taken by user
 operation code will be taken by user
    1- add
    2- sub
    3- mul
    5. div