# List

In [1]:
# Any data kept inside [] separated by ,
# like string it is also a sequence data type

# lst = [10, 10.20, 10+20j, 'Python', True, None, [1, 2, 3]]
# print(lst, type(lst))

# List properties
# 1. List is a collection of heterogeneous data types - (Array)
# 2. List can have duplicate elements - (set)
# 3. List is a sequence - 
    # 1. It is an ordered collection of the elements
    # 2. It supports +ve and -ve index both
    # 3. +ve index starts from 0 from Left side
    # 4. -ve index starts from -1 from right side
    # 5. Basic Operation - Indexing, Slicing, Concatenation, Repetition
# 4. List is a Mutable object
#     1. Item assignment is possible
#     2. The changes will be done to existong objects

In [2]:
lst = [10, 20, 10, 100,10,90,10, 900, 10]
print(lst)

[10, 20, 10, 100, 10, 90, 10, 900, 10]

In [43]:
lst = [10, 20, 30, 40, 50, 60]    #stored in same memory location, as mutable object
print('Before Operation')
print(lst, id(lst))
lst[0] = 111
print('After operation')
print(lst, id(lst))

Before Operation
[10, 20, 30, 40, 50, 60] 1621914694464
After operation
[111, 20, 30, 40, 50, 60] 1621914694464

In [44]:
my_str = 'Python'
# my_str[0] = 'J' # TypeError: 'str' object does not support item assignment
print('Before Operation:')
print(my_str, id(my_str))
new_str = my_str.replace('P', 'J')
print('After Operation:')
print(my_str, id(my_str))
print(new_str, id(new_str))

Before Operation:
Python 1621755464624
After Operation:
Python 1621755464624
Jython 1621914697648

In [3]:
a = [1,2,3,4,5,6]
print(type(a))

<class 'list'>

In [1]:
a = ['sradha' , 786 , True , 60+7j , None]
print(len(a))

5

In [2]:
a = 'sradha'
print(len(a))

6

In [6]:
a = None
len(a)

TypeError: object of type 'NoneType' has no len()

# Creation of List

In [7]:
# 1. If we know the elements
a= ['apple' , 'mango' , 'grapes' , 'banana']
print(a)
print(type(a))

['apple', 'mango', 'grapes', 'banana']
<class 'list'>

In [8]:
# 2. taking the user input

a  = eval(input('enter the list: '))
print(a)
print(list(a))

enter the list: ['apple','mango','grapes','banana']
['apple', 'mango', 'grapes', 'banana']
['apple', 'mango', 'grapes', 'banana']

In [46]:
#3. By using list(iterable)
lst1 = list('Python')
print(lst1)

['P', 'y', 't', 'h', 'o', 'n']

In [47]:
lst1 = list([10, 20, 30, 40])
print(lst1)

[10, 20, 30, 40]

In [48]:
lst1 = list((10, 20, 30, 40))
print(lst1)

[10, 20, 30, 40]

In [49]:
lst1 = list({10, 20, 30, 40})
print(lst1)

[40, 10, 20, 30]

In [50]:
lst1 = list({1:10, 2:20, 3:30, 4:40})
print(lst1)

[1, 2, 3, 4]

In [3]:
#4. split function
a = 'sradhanjalli patra'
a.split()

['sradhanjalli', 'patra']

In [10]:
#5. Using list comprehension
# [expr for loop [if cond]]

# Generate a list of numbers from 1 to 5
[i for i in range(1, 6)]

[1, 2, 3, 4, 5]

In [54]:
# Generate a list of square of all numbers from 1 to 5
[i**2 for i in range(1, 6)]

[1, 4, 9, 16, 25]

In [55]:
# Generate a list of square of all even numbers from 1 to 10
print([i**2 for i in range(2, 11, 2)])
print([i**2 for i in range(1, 11) if i%2 == 0])

[4, 16, 36, 64, 100]
[4, 16, 36, 64, 100]

In [56]:
[1, 8, 9, 64, 25, 216, 48, 512, 81, 1000]

[1, 8, 9, 64, 25, 216, 48, 512, 81, 1000]

In [57]:
[i**2 if i%2 != 0 else i**3 for i in range(1, 11)]

[1, 8, 9, 64, 25, 216, 49, 512, 81, 1000]

In [5]:
email_lst = ['abhishek@gmail.co',
            'krishna@gmail.co',
            'Aditya@gmail.co',
            'rahul@gmail.co',
            'ravi@gmail.co',
            'Nithish@gmail.co']
type_lst = ['Subscriber',
           'Customer',
           'Customer',
           'Subscriber',
           'Customer',
           'Subscriber']

In [6]:
# Extract the user name of those email id's where user type is Subscriber

[email_lst[i][:email_lst[i].index('@')] for i in range(len(email_lst)) if type_lst[i]=='Subscriber']

['abhishek', 'rahul', 'Nithish']

In [7]:
for i in range(5):
    if i != 3:
        print(i)
    else:
        print('Here i is 3')
        continue

0
1
2
Here i is 3
4

In [8]:
 -7    -6      -5     -4    -3      -2         -1
[10, 109.20, 10+20j, True, None, 'Python', [1, 2, 3]]
  0     1       2     3     4       5          6

IndentationError: unexpected indent (Temp/ipykernel_9708/177318589.py, line 3)

In [9]:
lst = [10, 109.20, 10+20j, True, None, 'Python', [1, 2, 3]]
print(lst[5][1])
print(lst[-1][-1])

print(lst[::])
print(lst[::-1])

print(lst[::2])
print(lst[::-2])

print(lst[::3])
print(lst[::-3])

# Default step is +1
# If step is +ve the default start = 0 and stop = len(lst)
# If step is -ve the default start = -1 and stop = -len(lst)-1

# If step is +ve - start should be on left compared to your stop
# If step is -ve - start should be on right compared to your stop

y
3
[10, 109.2, (10+20j), True, None, 'Python', [1, 2, 3]]
[[1, 2, 3], 'Python', None, True, (10+20j), 109.2, 10]
[10, (10+20j), None, [1, 2, 3]]
[[1, 2, 3], None, (10+20j), 10]
[10, True, [1, 2, 3]]
[[1, 2, 3], True, 10]

In [10]:
# indexing
a = [1,2,3,4,5,6,100,'200']
# i want to acces 200 from a list
b = a[-1]
print(type(b))

<class 'str'>

In [11]:
# slicing
a = [1,2,3,4,5,6,100,'200']
a[-1:-6:1]

[]

In [12]:
# Concatenation -> +
# Both the operand should be list
# It returns a new list object

lst1 = [10,20,30]
lst2 = [1, 2, 3]
print(lst1 + lst2)
print(lst1)
print(lst2)

# lst1+ '10'

[10, 20, 30, 1, 2, 3]
[10, 20, 30]
[1, 2, 3]

In [13]:
# Repetition -> *
# one of the operand should be list and other should be int
# It returns a new list object

lst1 = [10,20,30]
print(lst1*3)

[10, 20, 30, 10, 20, 30, 10, 20, 30]

In [14]:
# Membership

a= [1,2,3,4]
print(2.6 in a)

False

In [15]:
a= [1,2,3,4]
print(2.6 not in a)

True

In [16]:
# idenntity operator

a = [1,2,3,4]
b = [2,3,4,5]
c = [1,2,3,4]


print(id(a))
print(id(c))
print (a is b)
print (a is c)

2307133204160
2307133204352
False
False

In [17]:
# nesting list - list inside a list

a = [[1,2,3] , [2,3,4] , [4,7,6] , 2]
#         0        1          2      3

In [18]:
list1 = [[1,2,3] , [5,6,7] , [8,[9,10,['a','b']]]]

In [19]:
# i want to extract b
list1[2][1][2][1]

'b'

In [20]:
list1[-1][-1][-1][-1]

'b'

In [21]:
# List methods
print(dir(list))

# 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort'

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [22]:
lst = [10, 109.20, 10+20j, True, None, 'Python', [1, 2, 3]]
print(lst[1:3])
print(lst[-5:-8:-1])

[109.2, (10+20j)]
[(10+20j), 109.2, 10]

In [23]:
my_str = "Although 8 that way may not be obvious at first unless you're Dutch"
my_str1 = "although 8 that way may not be obvious at first unless you're Dutch"
# Write the code to get the total count of 't' in above string. 
my_str.count('t')

7

In [24]:
print(my_str == my_str1)
print(my_str <= my_str1)

False
True

In [25]:
is not, is

SyntaxError: invalid syntax (Temp/ipykernel_9708/1678938457.py, line 1)

In [26]:
!=, ==

SyntaxError: invalid syntax (Temp/ipykernel_9708/2760305166.py, line 1)

# List Comprehension

In [27]:
# [expr for loop [if cond]]

# [i**2 for i in range(1, 6)]

email = 'sradha@gmail.co'
print(email[:email.index('@')])
print(email[email.index('@')+1:email.index('.')])

sradha
gmail

In [28]:
import seaborn as sns
tips = sns.load_dataset('tips')
total_bill_list = list(tips['total_bill'].head(5))
total_bill_list

[16.99, 10.34, 21.01, 23.68, 24.59]

In [29]:
print(total_bill_list[2:5])
print(total_bill_list[::2])

[21.01, 23.68, 24.59]
[16.99, 21.01, 24.59]

In [30]:
# Slicing - Sequence - string, list, tuple
# seq[start:stop:step]

# Default value of step is 1
# When step is +ve slicing is done from left to right
# When step is -ve slicing is done from right to left


# If step is +ve the start should be on left compared to stop
# If step is -ve the start should be on right compared to stop


# Step can be +/-1, +/-2, +/-3...



my_str = 'This is Python class'

print(my_str[8:14])
print(my_str[8:14:1])

print(my_str[8:14:2])
print(my_str[8:14:3])

print(my_str[-7:-13:-1])
print(my_str[-7:-13:-2])
print(my_str[-7:-13:-3])

Python
Python
Pto
Ph
nohtyP
nhy
nt

In [31]:
# center, rjust, ljust, zfill

my_str = 'Python'
print(my_str.center(20, '*'))
print(my_str.center(21, '+'))
print(my_str.rjust(20, '-'))
print(my_str.ljust(20, ':'))

print(my_str.zfill(20))

*******Python*******
++++++++Python+++++++
--------------Python
Python::::::::::::::
00000000000000Python

In [32]:
#What will be the output of below code?
firstString = "der Fluß"
secondString = "der Fluss"
if firstString.casefold() == secondString.casefold():
    print('The strings are equal.')
else:
    print('The strings are not equal.')

The strings are equal.

In [33]:
firstString.casefold()

'der fluss'

# List methods

## 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort'

In [34]:
import seaborn as sns
tips = sns.load_dataset('tips')
total_bill_list = list(tips['total_bill'].head(5))
total_bill_list

[16.99, 10.34, 21.01, 23.68, 24.59]

# Add the elements to the list - append, insert, extend

In [35]:
# lst.append(ele) - ele will be added to the end of the list
# Returns None


total_bill_list.append(111)
print(total_bill_list)

lst1 = [111, 222, 333]
total_bill_list.append(lst1)
print(total_bill_list)

[16.99, 10.34, 21.01, 23.68, 24.59, 111]
[16.99, 10.34, 21.01, 23.68, 24.59, 111, [111, 222, 333]]

In [36]:
# main_lst.extend(sub_lst)
# elements of sub_lst is added at the end of main_lst as individual elements
# Returns None
# Changes will be done in main_lst but sub_lst will remain unaffected

lst1 = [111, 222, 333]
total_bill_list.extend(lst1)
print(total_bill_list)

[16.99, 10.34, 21.01, 23.68, 24.59, 111, [111, 222, 333], 111, 222, 333]

In [37]:
# lst.insert(ind, val) - it adds the value at specified index and 
# shifts rest of the value towards right

print(total_bill_list.insert(2, 111))
print(total_bill_list)

None
[16.99, 10.34, 111, 21.01, 23.68, 24.59, 111, [111, 222, 333], 111, 222, 333]

In [38]:
# Methods to remove the elements from the list - pop, remove

total_bill_list

# lst.pop() - By defaault it removes the last element from the list
# This is the only method which does some operation on the list and returns a value
# It returns the removed value

print(total_bill_list.pop())

333

In [39]:
print(total_bill_list)

[16.99, 10.34, 111, 21.01, 23.68, 24.59, 111, [111, 222, 333], 111, 222]

In [40]:
# lst.pop(index) - it removes the value from specified index
print(total_bill_list.pop(2))

111

In [41]:
total_bill_list

[16.99, 10.34, 21.01, 23.68, 24.59, 111, [111, 222, 333], 111, 222]

In [42]:
# lst.remove(val) - remoes the first occurrence of the value from the list
# This returns None

lst = [10, 20, 30, 10, 100, 20, 90, 80, 10, 10, 10]
lst.remove(10)
print(lst)

[20, 30, 10, 100, 20, 90, 80, 10, 10, 10]

In [43]:
# lst.clear() - Clears the list
# It removes all the elements from the list and leaves the empty list behind

lst = [10, 20, 30, 10, 100, 20, 90, 80, 10, 10, 10]
lst.clear()
print(lst)

[]

In [44]:
# lst.count(ele) - it returns the no of times ele is repeated in the list
lst = [10, 20, 30, 10, 100, 20, 90, 80, 10, 10, 10]
print(lst.count(10))
print(lst)

5
[10, 20, 30, 10, 100, 20, 90, 80, 10, 10, 10]

In [45]:
# lst.index(ele) - it returns the index of first occurenec of the ele from  the list
# If the ele is not found then it return ValueError

lst = [10, 20, 30, 10, 100, 20, 90, 80, 10, 10, 10]
print(lst.index(1000))

ValueError: 1000 is not in list

In [ ]:
# lst.reverse() - it reverses the list and returns None

lst = [10, 10.20, 10+20j, 'Python', True, None, [1, 2, 3]]
lst.reverse()
print(lst)

In [46]:
# lst.sort() - it sorts the list in ascending order(default)
# lst.sort(reverse = True) - it sorts the list in descending order

# sort method internally implements comparison operator, so list with difefrent data type will give type Error

lst = [10, 20, 30, 10, 100, 20, 90, 80, 10, 10, 10]
lst.sort()
print(lst)

[10, 10, 10, 10, 10, 20, 20, 30, 80, 90, 100]

In [47]:
# lst.sort(reverse = True)
# print(lst)

lst = [10, 20, 30, 10, '100', 20, 90, 80+30j, 10, 10, 10]
lst.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

In [48]:
lst = [10, 20, 30, 10, 100, 20, 90, 80, 10, 10, 10]
lst.sort(reverse=True)
lst

[100, 90, 80, 30, 20, 20, 10, 10, 10, 10, 10]

In [49]:
lst = [10, 20, 30, 10, 100, 20, 90, 80, 10, 10, 10]

In [50]:
# Find and display the largest number of a list without using 
# built-in function max(). Your program should ask the user to 
# input values in list from keyboard.

In [51]:
#Write a Python program to count the number of strings 
# having length more than 2 and are palindrome in a list using loop.
#Input:- ['ab', 'abc', 'aba', 'xyz', '1991']
#Output:- 2

lst = ['ab', 'abc', 'aba', 'xyz', '1991']
sum([True for i in lst if (len(i) >2) and (i == i[::-1])])


# i = 'aba'
# i == i[::-1]
'aba' == 'aba'

True

In [52]:
#Write a Python program to find the list of words that are longer than or equal to 4 from a given string.
#Input:- 'How much wood would a woodchuck chuck if a woodchuck could chuck wood'
#Output:- ['much', 'wood', 'would', 'woodchuck', 'chuck', 'could']
#Note:- Duplicate should be avoided.

my_str = 'How much wood would a woodchuck chuck if a woodchuck could chuck wood'
lst = []
[lst.append(i) for i in my_str.split() if (len(i)>=4) and (i not in lst)]
print(lst)

my_str.split()

['much', 'wood', 'would', 'woodchuck', 'chuck', 'could']

['How',
 'much',
 'wood',
 'would',
 'a',
 'woodchuck',
 'chuck',
 'if',
 'a',
 'woodchuck',
 'could',
 'chuck',
 'wood']

In [53]:
# Write a Python program to create a 4X4 2D matrix with below elements using loop and list comprehension both.
# Output:- [[0,0,0,0],[0,1,2,3],[0,2,4,6],[0,3,6,9]]

# print([[0,0,0,0],[0,1,2,3],[0,2,4,6],[0,3,6,9]])

# One outer list
# Outer list has four inner lists
# and each inner list has four element
# Each element has some value

out_lst = []
for i in range(4):
    in_lst= []
    for j in range(4):
        in_lst.append(i*j)
    out_lst.append(in_lst)
    
print(out_lst)


[[i*j for j in range(4)] for i in range(4)]

[[0, 0, 0, 0], [0, 1, 2, 3], [0, 2, 4, 6], [0, 3, 6, 9]]

[[0, 0, 0, 0], [0, 1, 2, 3], [0, 2, 4, 6], [0, 3, 6, 9]]

In [54]:
# Methods
# Comprehension
# Loop

In [55]:
sum([10,20,30])

60

In [56]:
True + True

2

In [57]:
my_str = 'This is Python class'

out_str = 'sihT si nohtyP ss'

my_str[::-1]

'ssalc nohtyP si sihT'

In [58]:
my_str = 'Python'
# last_index = 5
# list(range(len(my_str)))
# P
# yy
# ttt
# hhhh
# ooooo
# nnnnnn

for i in range(1, len(my_str)+1):
    print(my_str[i-1] * i)

P
yy
ttt
hhhh
ooooo
nnnnnn

In [59]:
# P
# y
# t
# h
# o
# n
for i in range(len(my_str)):
    print(my_str[i])

P
y
t
h
o
n

In [60]:
my_str = ''
for i in [10,20,30]:
    my_str = my_str + ' ' + str(i)
print(my_str)

 10 20 30

In [61]:
# Write a python program to find below output (implements rjust and ljust) using loop:-
    
# my_str = 'Peter Piper Picked A Peck Of Pickled Peppers.'
# sub_str = 'Peck'
# Output: *********************Peck************************

my_str = 'Peter Piper Picked A Peck Of Pickled Peppers.'
sub_str = 'Peck'
new_str = ''
j = 0
res_str = ''
for i in range(len(my_str)):
    if my_str[i] == sub_str[j]:
        new_str += my_str[i]
        j += 1
        if new_str == sub_str:
            res_str = ('*' * (i-(len(sub_str)-1))) + sub_str + ('*' * ((len(my_str)-i-1)))
            break
    elif i == len(my_str):
        print('substring is not found')
    else:
        new_str = ''
        j = 0
print(res_str)

*********************Peck********************

In [62]:
my_str = 'Peter Piper Picked A Peck Of Pickled Peppers.'
# print(my_str.index('Peck'))  # to know the index of 'P' in Peck
out_str = ''
a= '*'
b= 'Peck'
for i in range(len(my_str)):
    if i < 21:
        out_str += a
    elif i == 21:
        out_str += b
    elif (22 <= i <= 24):
        continue
    elif i >= 25:
        out_str = out_str + a
print(out_str)

*********************Peck********************

In [63]:
my_str = 'Peter Piper Picked A Peck Of Pickled Peppers.'
sub_str = 'Peck'
sub_str.rjust(my_str.find(sub_str)+(len(sub_str)), '*').ljust((len(my_str)), '*')

'*********************Peck********************'